body {
	background-color: #a1cec8;
	font-family: 'Yusei Magic', sans-serif;
}

header main {
	background-color:#a1cec8;
}

header a {
	padding: 8px;
	margin-left: 0px;
	font-size: 20px;
}

footer a {
	padding: 8px;
	margin-left: 0px;
	font-size: 20px;
}


